.updateA {
  position: fixed;
  width: 50vw;
  height: 100vw;

  background: #ffffff;
}
.heady {
  position: absolute;
  width: max-content;
  height: 15px;
  left: 264px;
  top: 313px;
  align-content: center;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */

  color: #000000;
}
.labeln {
  position: absolute;
  width: 110px;
  height: 21px;
  left: 365px;
  top: 209px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
  /* identical to box height */

  color: #000000;
}

.updateButton {
  position: absolute;
  width: 100px;
  height: 32px;
  left: 365px;
  top: 661px;
  align-items: center;
  background: #d9d9d9;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  background: #086579;
}

.labeln1 {
  position: absolute;
  width: max-content;
  height: 22px;
  left: 365px;
  top: 512px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  color: #000000;
}
.txtarea1 {
  box-sizing: border-box;
  border: none;
  position: absolute;
  width: 280px;
  height: 35px;
  left: 365px;
  top: 533px;
  padding: 5px;
  background: #ffffff;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
}
.txtarea2 {
  box-sizing: border-box;
  padding: 5px;

  position: absolute;
  width: 280px;
  height: 35px;
  left: 365px;
  top: 608px;

  background: #fcf9f9;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
}
.labeln2 {
  position: absolute;
  width: max-content;
  height: 22px;
  left: 365px;
  top: 576px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  color: #000000;
}
.picha {
  height: 90px;
  width: 235px;
  background-color: #e6dddd;
  /* text-align: left;
  padding-left: 55px; */
  margin: 10px 0 0 180px;
  left: 262px;
  top: 374px;
  border: none;
}
.head1 {
  position: absolute;
  width: 980px;
  height: 63px;
  left: 362px;
  top: 94px;
  align-items: center;
  background: #086579;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
}
.po {
  box-sizing: border-box;

  position: absolute;
  width: 378px;
  height: 223px;
  left: 365px;
  top: 278px;

  background: #ffffff;
  border: 1px dashed #000000;
  border-radius: 4px;
}
.ip {
  position: absolute;
  width: max-content;
  height: 23px;
  left: 50%;
  top: 100px;
  transform: translateY(-50%);
  transform: translateX(-50%);
  border: nonec;
}
