.updateA {
  position: fixed;
  width: 50vw;
  height: 100vw;

  background: #ffffff;
}
.heady {
  position: absolute;
  width: max-content;
  height: 15px;
  left: 264px;
  top: 313px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */

  color: #000000;
}
.labeln {
  position: absolute;
  width: max-content;
  height: 15px;
  left: 264px;
  top: 354px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */

  color: #000000;
}
.updateButton {
  position: absolute;
  width: 100px;
  height: 32px;
  left: 264px;
  top: 638px;
  align-items: center;
  background: #d9d9d9;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  background: #086579;
}

.input_word {
  position: absolute;
  width: 221px;
  height: 26px;
  left: 262px;
  /* top: 520px; */

  background: #d9d9d9;
}

.labeln1 {
  position: absolute;
  width: 60px;
  height: 15px;
  left: 264px;
  top: 500px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */

  color: #000000;
}
.txtarea1 {
  position: absolute;
  width: 221px;
  height: 26px;
  left: 262px;
  top: 520px;

  background: #d9d9d9;
}
.txtarea2 {
  position: absolute;
  width: 221px;
  height: 26px;
  left: 262px;
  top: 585px;

  background: #d9d9d9;
}
.labeln2 {
  position: absolute;
  width: 45px;
  height: 15px;
  left: 264px;
  top: 565px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */

  color: #000000;
}
