/** @format */

.profilePage {
  box-sizing: border-box;
  position: relative;
  width: 961px;
  height: 850px;
  left: 365px;
  top: 94px;
  border: 1px solid #d9d9d9;
  resize: both;
}

.profilePage_container {
  position: absolute;
  width: 960px;
  height: 545px;
  left: 0px;
  top: 300px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  overflow-y: auto;
  overflow-x: hidden;
}

.profilePage_container_posts {
  box-sizing: border-box;
  position: relative;
  width: 940px;
  height: 400px;
  left: 50%;
  transform: translateY(-50%);
  transform: translateX(-50%);
  border: 1px solid #d9d9d9;
  margin-top: 10px;
}

.profilePage_image {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 20px;
  left: 20px;
  background: #d9d9d9;
  border-radius: 50%;
  border: none;
}

.profilePage_name {
  position: absolute;
  width: max-content;
  left: 80px;
  top: 35px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 15px;
  color: #000000;
}

.profilePage_caption {
  position: absolute;
  width: 200px;
  height: 15px;
  left: 40px;
  top: 85px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #0a5350;
}
.profilePage_postTime {
  position: absolute;
  width: 200px;
  height: 15px;
  right: 40px;
  top: 85px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #0a5350;
}

.profilePage_postImage {
  position: absolute;
  width: 500px;
  height: 275px;
  left: 40px;
  top: 120px;
  background: #d9d9d9;
  border: 0;
}

/* ======My profile Data======= */
.MyProfileContainer {
  box-sizing: border-box;
  position: absolute;
  width: 940px;
  height: 267px;
  left: 50%;
  transform: translateY(-50%);
  transform: translateX(-50%);
  top: 40px;
  background: #ffffff;
  border: 1px solid #d9d9d9;
}

.MyProfileContainer_image {
  position: absolute;
  width: 100px;
  height: 100px;
  left: 50px;
  top: 20px;
  background: #d9d9d9;
  border-radius: 50%;
}
.MyProfileContainer_name {
  position: relative;
  width: max-content;
  height: 15px;
  left: 70px;
  margin-top: 5px;
  top: 130px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
}

.editProfileBtn {
  position: absolute;
  width: 150px;
  height: 34px;
  left: 50px;
  bottom: 15px;
  background: #086579;
  color: #ffffff;
  border: 0ch;
  border-radius: 4px;
}
